* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.cart {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(41, 38, 38, 0.7);
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
}

.cart__inner {
  width: 30%;
  min-height: 400px;
  background-color: #b9c6c7;
  padding: 10px;
}

.cart__header {
  text-align: right;
}

.cart__close {
  display: inline-block;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  background-color: #b8c2b7;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 80px;
  background-color: #404052;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 10px 20px;
}

.nav__link {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.nav__link:hover {
  text-decoration: underline;
}

.main {
  background-color: #dff5c8;
}

.main__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  align-content: center;
}

.main__item {
  width: 100%;
  height: 200px;
  background-color: #d7d7e7;
  border: 1px solid #242222;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.item__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.item__btn {
  cursor: pointer;
}

.main__container {
  display: grid;
  grid-template-columns: 20% 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.main__filters {
  background-color: #b9c6c7;
  height: calc(100vh - 160px);
}

.footer {
  background-color: #6b6d69;
  height: 60px;
}
