* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  caret-color: transparent;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

select {
  cursor: pointer;
  font-family: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: rgba(41, 38, 38, 0.7);
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
}

.cart__inner {
  width: 50%;
  min-height: 200px;
  background-color: #f7f4f1;
  padding: 20px;
  max-width: 500px;
}

.cart__header {
  text-align: right;
}

.cart__close {
  display: inline-block;
  cursor: pointer;
}

.cart__title {
  margin-bottom: 15px;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.item-cart__buttons {
  display: flex;
  align-items: center;
}

.item-cart__minus {
  margin-right: 5px;
}

.item-cart__minus,
.item-cart__plus {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7ded6;
}

.item-cart__delete {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-cart__trash {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}

.cart__remove {
  padding: 5px;
  border: none;
  background-color: #e7ded6;
}

.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.header {
  background-color: #dddcd6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  box-shadow: 3px 2px 5px #b9b7b4;
  flex: 0 0 auto;
}

.header .container {
  align-items: flex-end;
}

.logo {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
}

.logo:hover {
  transform: scale(1.1);
  fill: #74572c;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.nav__link {
  display: inline-block;
  padding: 10px;
}

.cart__wrapper {
  position: relative;
}

.cart-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #d1b898;
  z-index: 250;
  font-size: 12px;
  padding: 3px;
}

.cart-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.nav__link:hover {
  text-decoration: underline;
}

.about {
  background-color: #fff8f3;
  padding: 120px 20px 10px;
  min-height: 80px;
}

.main {
  background-color: #fffcf3;
}

.main__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  align-content: center;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.main__btn {
  position: absolute;
  width: 120px;
  height: 20px;
  top: calc(100% + 25px);
  right: calc(50% - 75px);
  border: none;
  background-color: #e7ded6;
}

.main__item {
  width: 100%;
  height: 350px;
  background-color: #f7f4ed;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.item__img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 3px 2px 5px #b9b7b4;
  align-self: center;
}

.item-cart__img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.item__btn,
.item__btn_desc {
  padding: 5px;
  border: none;
  background-color: #e7ded6;
  height: 30px;
}

.item__btn {
  margin: 0 10px;
  width: 100px;
}

.item__btn_desc {
  width: 60px;
}

.item__btn:hover,
.item__btn_desc:hover {
  background-color: #c7c4c2;
}

.item__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item__description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #e7ded6be;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item__text {
  padding: 15px;
  overflow-y: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 150px;
}

.filters label {
  margin-right: 20px;
}

.filters__sort {
  background-color: #e7ded6;
  border: none;
  padding: 5px;
  width: 180px;
  height: 35px;
  outline: none;
}

.footer {
  background-color: #dddcd6;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.show {
  display: flex;
}

@media (max-width: 900px) {
  .main__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav {
    width: 70%;
    justify-content: center;
  }
}

@media (max-width: 670px) {
  .cart__inner {
    width: 70%;
  }
}

@media (max-width: 590px) {
  .main__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .cart__inner {
    width: 100%;
    padding: 5px;
  }
}

@media (max-width: 430px) {
  .about {
    display: none;
  }
}
